<div class="container">
  <form [formGroup]="signForm" (ngSubmit)="generatePDF()">
    <div class="form-group">
      <label for="businessTitle">Business Title</label>
      <input
        id="businessTitle"
        formControlName="businessTitle"
        placeholder="Business Title"
      />
    </div>
    <div class="form-group">
      <label for="logo">Business Logo</label>
      <input id="logo" type="file" (change)="onFileChange($event, 'logo')" />
      <div *ngIf="signForm.get('logo')?.value" class="preview">
        <img
          [src]="signForm.get('logo')?.value | safeUrl"
          alt="Logo Preview"
          width="100"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="itemTitle">Item Title</label>
      <input
        id="itemTitle"
        formControlName="itemTitle"
        placeholder="Item Title"
      />
      <div
        *ngIf="
          signForm.get('itemTitle')?.invalid &&
          signForm.get('itemTitle')?.touched
        "
        class="error-message"
      >
        Item Title is required
      </div>
    </div>

    <div class="form-group">
      <label for="sku">SKU</label>
      <input id="sku" formControlName="sku" placeholder="Item Number (SKU)" />
      <div
        *ngIf="signForm.get('sku')?.invalid && signForm.get('sku')?.touched"
        class="error-message"
      >
        SKU is required
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          id="price"
          formControlName="price"
          placeholder="Price"
          type="number"
        />
      </div>
      <div
        *ngIf="signForm.get('price')?.invalid && signForm.get('price')?.touched"
        class="error-message"
      >
        <div *ngIf="signForm.get('price')?.errors?.['required']">
          Price is required
        </div>
        <div *ngIf="signForm.get('price')?.errors?.['min']">
          Price must be a positive number
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="discountedPrice">Discounted Price</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          id="discountedPrice"
          formControlName="discountedPrice"
          placeholder="Discounted Price"
          type="number"
        />
      </div>
      <div
        *ngIf="
          signForm.get('discountedPrice')?.invalid &&
          signForm.get('discountedPrice')?.touched
        "
        class="error-message"
      >
        <div *ngIf="signForm.get('discountedPrice')?.errors?.['required']">
          Discounted Price is required
        </div>
        <div *ngIf="signForm.get('discountedPrice')?.errors?.['min']">
          Discounted Price must be a positive number
        </div>
      </div>
    </div>

    <div *ngIf="signForm.errors?.['priceInvalid']" class="error-message">
      Discounted Price cannot be higher than the Price
    </div>

    <div class="form-group">
      <label for="productImage">Product Image</label>
      <input
        id="productImage"
        type="file"
        (change)="onFileChange($event, 'productImage')"
      />
      <div *ngIf="signForm.get('productImage')?.value" class="preview">
        <img
          [src]="signForm.get('productImage')?.value | safeUrl"
          alt="Product Image Preview"
          width="200"
        />
      </div>
    </div>

    <button type="submit" [disabled]="signForm.invalid">Generate PDF</button>
  </form>

  <app-signpreview [formData]="signForm.value"></app-signpreview>
</div>
